export("_trace")
export(cranCoverage)
export(data)
export(library)
export(pkgCoverage)
export(reportCoverage)
export(require)
export(runTests)
export(selfTest)
export(testCoverage)
import(rjson)
import(tools)
